:root {
	--color1: #000;
	--color2: #fff;
	--color3: #555555;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html {
	font-size: 10px;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

.serif {
	font-family: serif;
}

.sans-serif {
	font-family: sans-serif;
}

.monospace {
	font-family: monospace;
}

.cursive {
	font-family: cursive;
}

.fantasy {
	font-family: fantasy;
}

.one {
	font-weight: 100;
}

.two {
	font-weight: 200;
}

.three {
	font-weight: 300;
}

.four {
	font-weight: 400;
}

.five {
	font-weight: 500;
}

.six {
	font-weight: 600;
}

.seven {
	font-weight: 700;
}

.eight {
	font-weight: 800;
}

.nine {
	font-weight: 900;
}

header {
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: var(--color2);
	z-index: 3;
}

header nav ul {
	display: block;
	border-bottom: 5px solid var(--color1);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
	padding: 15px 10px;
}

header nav ul li {
	list-style-type: none;
}

header nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 2rem;
}

header nav ul li a:hover {
	border-bottom: 3px solid var(--color1);
}

main {
	margin-top: 60px;
}

@media (max-width: 531px) {
	main {
		margin-top: 125px;
	}
}

@media (max-width: 321px) {
	main {
		margin-top: 185px;
	}
}

main .top-heading {
	text-align: center;
	font-size: 4rem;
	background-color: var(--color1);
	color: white;
	padding: 10px 10px;
	position: sticky;
	top: 60px;
}

@media (max-width: 531px) {
	main .top-heading {
		top: 125px;
	}
}

@media (max-width: 321px) {
	main .top-heading {
		top: 185px;
	}
}

.font-type {
	margin-top: 30px;
	padding: 20px 5%;
}

.font-type h2 {
	font-size: 3rem;
	border-bottom: 3px solid var(--color1);
}

.font-type .examples {
	margin: 20px 0;
}

.font-type .example {
	text-align: center;
	font-size: 2.5rem;
	padding: 10px 20px;
}

.font-type .implementation {
	background-color: var(--color3);
	padding: 20px 5%;
	border-radius: 5px;
	overflow: auto;
}

.font-type .implementation p {
	font-size: 1.6rem;
	color: white;
	font-family: monospace;
	padding: 10px 0;
}

/* font-type */

.serif h2 {
	font-family: serif;
}

.serif p {
	font-family: serif;
}

/* font-type */

.sans-serif h2 {
	font-family: sans-serif;
}

.sans-serif p {
	font-family: sans-serif;
}

/* font-type */

.monospace h2 {
	font-family: monospace;
}

.monospace p {
	font-family: monospace;
}

/* font-type */

.cursive h2 {
	font-family: cursive;
}

.cursive p {
	font-family: cursive;
}

/* font-type */

.fantasy h2 {
	font-family: fantasy;
}

.fantasy p {
	font-family: fantasy;
}

/* font-type */

.Arial h2 {
	font-family: Arial;
}

.Arial p {
	font-family: Arial;
}

/* font-type */

.Verdana h2 {
	font-family: Verdana;
}

.Verdana p {
	font-family: Verdana;
}

/* font-type */

.Tahoma h2 {
	font-family: Tahoma;
}

.Tahoma p {
	font-family: Tahoma;
}

/* font-type */

.Trebuchet-MS h2 {
	font-family: 'Trebuchet-MS';
}

.Trebuchet-MS p {
	font-family: 'Trebuchet MS';
}

/* font-type */

.Times-New-Roman h2 {
	font-family: 'Times New Roman';
}

.Times-New-Roman p {
	font-family: 'Times New Roman';
}

/* font-type */

.Georgia h2 {
	font-family: Georgia;
}

.Georgia p {
	font-family: Georgia;
}

/* font-type */

.Garamond h2 {
	font-family: Garamond;
}

.Garamond p {
	font-family: Garamond;
}

Courier New

/* font-type */

.Courier-New h2 {
	font-family: 'Courier New';
}

.Courier-New p {
	font-family: 'Courier New';
}

/* font-type */

.Brush-Script-MT h2 {
	font-family: 'Brush Script MT';
}

.Brush-Script-MT p {
	font-family: 'Brush Script MT';
}

/* font-type */

.Cambria h2 {
	font-family: Cambria;
}

.Cambria p {
	font-family: Cambria;
}

/* font-type */

.Segoe-UI h2 {
	font-family: 'Segoe UI';
}

.Cambria p {
	font-family: 'Segoe UI';
}

/* font-type */

.Impact h2 {
	font-family: Impact;
}

.Impact p {
	font-family: Impact;
}

/* font-type */

.Lucida-Sans h2 {
	font-family: 'Lucida Sans';
}

.Lucida-Sans p {
	font-family: 'Lucida Sans';
}

/* font-type */

.Gill-Sans h2 {
	font-family: 'Gill Sans';
}

.Gill-Sans p {
	font-family: 'Gill Sans';
}

/* font-type */

.Franklin-Gothic-Medium h2 {
	font-family: 'Franklin Gothic Medium';
}

.Franklin-Gothic-Medium p {
	font-family: 'Franklin Gothic Medium';
}

/* font-type */

.Quicksand h2 {
	font-family: Quicksand;
}

.Quicksand p {
	font-family: Quicksand;
}

/* font-type */

.Press-Start-2P h2 {
	font-family: 'Press Start 2P';
}

.Press-Start-2P p {
	font-family: 'Press Start 2P';
}

/* font-type */

.Bebas-Neue h2 {
	font-family: 'Bebas Neue';
}

.Bebas-Neue p {
	font-family: 'Bebas Neue';
}

/* font-type */

.Dangrek h2 {
	font-family: 'Dangrek';
}

.Dangrek p {
	font-family: 'Dangrek';
}
